mixin footer 
    footer.footer 
            .container 
                .row 
                    .footer-col
                        h4 Site MAp
                        ul 
                            li
                                a(href="#") Home
                            li
                                a(href="#") About
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") Privacy Policy
                    .footer-col
                        h4 Site MAp
                        ul 
                            li
                                a(href="#") Home
                            li
                                a(href="#") About
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") Privacy Policy
                    .footer-col
                        h4 Address 
                        ul
                            li 
                                a(href="#") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa ad et fugit nostrum non cum natus ut quae saepe iste, assumenda dolorum labore enim dignissimos nemo soluta modi, unde itaque.
                    .footer-col 
                        h4 Follow us 
                        .social-links 
                            a(href="#")
                                i.fab.fa-google
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-instagram
                            a(href="#")
                                i.fab.fa-twitter
    script(src="scripts/script.js")