mixin nav
    nav 
        ol 
            li 
                a(href="/")
                    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Levi%27s_logo.svg/1200px-Levi%27s_logo.svg.png" width="150" alt="")
            li
                a(href="/products") Products
            li
                a(href="/about") About
            li
                a(href="/auth/login") Sign in