doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/style.css")
        title Document
    body 
        .container 
            h1
                a(href="/search") Search Books
            form(action="/addbook" method="POST")
                .form-content
                    .form-group 
                        label.form-label(for="title") TITLE 
                        input.form-control(type="text" name="title" id="title" required)
                    .form-group 
                        label.form-label(for="imgUrl") Book Image 
                        input.form-control(type="text" name="mainImgUrl" id="imgUrl" placeholder="Main Img" required)
                    .form-group 
                        label.form-label(for="price") price 
                        input.form-control(type="text" name="price" id="price" required)
                    .form-group 
                        label.form-label(for="description") Description 
                        textarea.form-control(name="description" id="description" rows="10" required) Description
                        button.btn-addproduct(type='submit') Upload