include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
  +head('Login')
  body 
    +nav
    .container 
        h1.login-header Sign in
        form.formauth(action="/auth" method="POST")
            input(type="email" name="username" placeholder="Username" required)
            input(type="password" name="password" placeholder="Password" required)
            input(type="submit" value="Sign in")
    +footer 