mixin nav 
    div.container
         header
            nav
                ul
                    li
                        a(href="/")
                            img(src="/img/logo.png" alt="")
                    li
                        a(href="/products") Products
                    li
                        a(href="/about") About
                    li
                        a(href="/auth/login") Sign in