include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
  head
    +head("E-commerce")
  body 
    +nav
    .container 
       h1(class="title-products") PRODUCTS
    .container 
        .products
            each prod in productlist
                .single-product
                    .product-img
                        img(src=prod.imgUrl alt="")
                    .product-caption
                        
                        .price 
                            ul
                                li $#{prod.price}
                        .wrapper
                            form( action="/learnmore" method="POST")
                                button(type="submit" value="learnmore") Learn more...
                            button Add to card
    +footer 