mixin footer 
    footer(class="footer")
      .container 
        .row 
          .footer-col 
            h4 SiteMAP
            ul
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="#") Pricing
              li
                a(href="#") Privacy Policy
          
          .footer-col
            h4 Address
            ul
              li
                a(href="#") Uzbekistan Tashkent Amir Temur Street 99
            .social-links
              a(href="#")
                i(class="fab fa-google")
              a(href="#")
                i(class="fab fa-facebook-f")
              a(href="#")
                i(class="fab fa-instagram")
              a(href="#")
                i(class="fab fa-twitter")
    script(src="scripts/script.js")