include includes/head
include includes/nav
include includes/footer

doctype html
html(lang="en")
    +head('Levi\'s Apparel E-shop')
    body 
        .container
            header
                +nav
            main.not-found-container 
                h1 Page not found
            +footer