include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
  head
    +head("E-commerce")
  body 
    +nav
    .container
        form(action="/addingproductlist" method="POST")
            .form-group 
                label.form-label(for="title") TITLE 
                input.form-control(type="text" name="title" id="title" required)
            .form-group 
                label.form-label(for="imgUrl") imgUrl 
                input.form-control(type="text" name="imgUrl" id="imgUrl" required)
            .form-group 
                label.form-label(for="price") price 
                input.form-control(type="number" name="price" id="price" required)
            .form-group 
                label.form-label(for="discount") discount 
                input.form-control(type="number" name="discount" id="discount" required)
            .form-group 
                label.form-label(for="quantity") quantity 
                input.form-control(type="number" name="quantity" id="quantity" value="1" required)
            .form-group 
                label.form-label(for="description") description 
                textarea.form-control(name="description" id="description" rows="10" required)
            button.btn-addproduct(type="submit") PUBLISH
    +footer 