include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
  head
    +head("E-commerce")
  body 
    +nav
    .container
         section.page_404
            .p_404 
                .four_zero_four_bg
                    h1 404
                .contant_box_404
                    h3  Look like you're lost
                    p   the page you are looking for not avaible!
                    div.link404
                        a(href="/" class="link_404") Go to Home
    +footer 