<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <title>Lesson_10</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ol>
            <li>
              <a href="/"
                ><img
                  src="https://png.pngtree.com/png-clipart/20201208/original/pngtree-red-and-black-logo-png-image_5517319.jpg"
                  width="50"
                  alt=""
              /></a>
            </li>
            <li><a href="/product">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/auth">Sign in</a></li>
            <!-- <li><a href="/"></a></li> -->
          </ol>
        </nav>
        <main>
          <h1>Sales <span>up to 70%</span></h1>
          <p></p>
        </main>
      </header>
      <main>
        <section>
          <h2>Products</h2>
          <div class="card-wrapper">
            <div class="product-card">
              <img
                src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/en/support/laptop-user-guide/img/laptop.png"
                alt=""
                width="300"
              />
              <div class="card-body">
                <h3>Product description</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  necessitatibus eligendi earum ratione minima quasi voluptas,
                  mollitia nam ullam corporis consectetur nostrum unde odit
                  ipsam temporibus cupiditate vitae non illo!
                </p>
              </div>
              <div class="wrapper">
                <button>Learn More</button>
                <button>Add to card</button>
              </div>
            </div>
            <div class="product-card">
              <img
                src="https://www.gigabyte.com/FileUpload/Global/MainPage/4/innergigabyte/images/product/GIGABYTE-G5-VC_P0.png"
                alt=""
                width="300"
              />
              <div class="card-body">
                <h3>Product description</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  necessitatibus eligendi earum ratione minima quasi voluptas,
                  mollitia nam ullam corporis consectetur nostrum unde odit
                  ipsam temporibus cupiditate vitae non illo!
                </p>
              </div>
              <div class="wrapper">
                <button>Learn More</button>
                <button>Add to card</button>
              </div>
            </div>
            <div class="product-card">
              <img
                src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/en/support/laptop-user-guide/img/laptop.png"
                alt=""
                width="300"
              />
              <div class="card-body">
                <h3>Product description</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  necessitatibus eligendi earum ratione minima quasi voluptas,
                  mollitia nam ullam corporis consectetur nostrum unde odit
                  ipsam temporibus cupiditate vitae non illo!
                </p>
              </div>
              <div class="wrapper">
                <button>Learn More</button>
                <button>Add to card</button>
              </div>
            </div>
            <div class="product-card">
              <img
                src="https://www.omen.com/content/dam/sites/omen/worldwide/laptops/victus-product-page-calhoun/c22-calhoun-main-image-original-041.png"
                alt=""
                width="300"
              />
              <div class="card-body">
                <h3>Product description</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  necessitatibus eligendi earum ratione minima quasi voluptas,
                  mollitia nam ullam corporis consectetur nostrum unde odit
                  ipsam temporibus cupiditate vitae non illo!
                </p>
              </div>
              <div class="wrapper">
                <button>Learn More</button>
                <button>Add to card</button>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>SiteMAP</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Address</h4>
            <ul>
              <li>
                <a href="#"
                  >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Cupiditate adipisci quia ab omnis id ipsum quae inventore
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-google"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/index.js"></script>
  </body>
</html>
