<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="max-width: 1140px; margin: 0 auto;">
        <h1>Home Page</h1>
    
        <a href="contacts" style="padding: 10px 20px; background-color: green; border: none; border-radius: 10px; text-decoration: none; color: black;">Contacts</a>
        <a href="services" style="padding: 10px 20px; background-color: green; border: none; border-radius: 10px; text-decoration: none; color: black;">Services</a>
    </div>
  </body>
</html>
