mixin footer 
    footer(class="footer")
      .container 
        .row 
          .footer-col 
            h4 SiteMAP
            ul
              li
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Pricing
              li
                a(href="#") Privacy Policy
          .footer-col
            h4 Get Help
            ul
              li
                a(href="#") Shipping
              li
                a(href="#") Returns
              li
                a(href="#") Order Status
              li
                a(href="#") Payment Options
          .footer-col
            h4 Address
            ul
              li
                a(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit.Cupiditate adipisci quia ab omnis id ipsum quae inventore
          .footer-col
            h4 follow us
            .social-links
              a(href="#")
                i(class="fab fa-google")
              a(href="#")
                i(class="fab fa-facebook-f")
              a(href="#")
                i(class="fab fa-instagram")
              a(href="#")
                i(class="fab fa-twitter")
    script(src="scripts/script.js")