*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: serif;
    max-width: 1000px;
    margin: 50px auto;
}
table{
    border-collapse: collapse;
    margin: 100px auto;
}
td, th{

    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid ;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
    
}
.red{color: red;
}
col:nth-of-type(1){
    background-color: lightgreen;
}
col:nth-of-type(2){
    background-color: rgb(235, 144, 238);
}
col:nth-of-type(3){
    background-color: rgb(229, 238, 144);
}
col:nth-of-type(4){
    background-color: rgb(144, 224, 238);
}
col:nth-of-type(5){
    background-color: rgb(144, 146, 238);
}
tr:nth-of-type(5) td:nth-of-type(1){
    width: 80px;
}
.size{
    font-size: 20px;
    margin: 15px;
}
