@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}
.header {
  background-color: transparent;
  position: relative;
}
.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
.nav__logo {
  width: 202px;
  height: 96.98px;
  background: url(../img/logo.png);
  z-index: 1;
}
.nav__menu,
.nav__lang {
  z-index: 1;
}
.nav__lang a {
  padding: 5px 8px;
}
.nav__lang a:hover {
  color: #d59c28;
}
.nav__menu a {
  padding: 10px 15px;
  z-index: 1;
}
.nav__menu a:hover {
  color: #d59c28;
}
.img1 {
  position: relative;
  flex-direction: column;
}
.img1 .container h1 {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 700px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  color: #ffffff;
}
